<div
  id="page-url-metadata"
  hidden
  phx-hook="PageURLMetadata"
  phx-update="ignore"
  data-canonical-url={assigns[:canonical_url] || ""}
  data-og-url={(assigns[:meta] || %{})[:url] || ""}
>
</div>
{@inner_content}
